@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-fundo:black;
    --cor-principal: #F5D542;
    --cor-secundaria: white;
    --cor-hover: rgb(88, 87, 87) ; 
}

*{
    margin: 0;
    padding: 0;
}


body{
   
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color:var(--cor-principal) ;
}
.cabecalho{
    background-color: var(--cor-principal);
    padding: 2.2%;

}
.cabecalho__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cabecalho__menu__link {
    font-size: 120%;
    font-family: "Montserrat", sans-serif;
    color: var(--cor-fundo);
    margin: 0 0.625rem;
    padding: 0.3125rem 0.625rem;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}



.titulo-destaque {
    color: var(--cor-hover);}
    .titulo-destaque:hover{
        color: var(--cor-secundaria);

    }

.apresentacao {
    padding: 5% 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;

    
    
}
.apresentacao__conteudo {
    padding: 7%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
}
.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family:"Kode Mono", monospace;
}
.apresentacao__conteudo__texto{
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__links{
   display:flex;
    justify-content: space-between; 
    flex-direction: column;
    align-items: center;
    gap: 2rem;  
}
.apresentacao__links__texto{
    font-family:"Kode Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__botao{
    /*background-color: #F5D542;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.125rem solid var(--cor-principal);
    width: 50%;
    text-align: center;
    border-radius: 0.5;
    font-size: 1.25rem;
    padding: 1.375rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:"Kode Mono", monospace; 
}
.apresentacao__links__botao:hover{
    background-color: var(--cor-hover);
}
.foto_principal{
    width: 100%
}
.rodape{
    color: var(--cor-fundo);
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Kode Mono", monospace; 
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1.5rem;
}
.conteudo__sobremim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 4em 8em;
    gap: 90px;
    
    
}

.apresentacao__conteudo__sobremim{
    font-family:"Kode Mono", monospace;
    font-weight: 400;
    font-size: 18px;
    
    
}
@media( max-width: 1200px) {
   .apresentacao{
    flex-direction: column-reverse ;

   } 
   .foto_principal{
    width: 50%;
   }
   .cabecalho{
    padding: 6%;
   }
   .cabecalho__menu{
    justify-content: center;} 
   .apresentacao__conteudo {
    width: auto;
   }   
    .foto_principal{
        width: 220%;
        align-items: center;
}
   .conteudo__sobremim{
    flex-direction: column-reverse;
    

   }
   .apresentacao__conteudo__sobremim1{
    font-size: 15px;
    margin-bottom: 1em;
    
   }
   .apresentacao__conteudo__sobremim2{
    font-size: 15px;
    margin-bottom: 1em;
   }
   .apresentacao__conteudo__sobremim3{
    font-size: 15px;
    margin-bottom: 1em;
   }
   .texto{
      width: 220%;
     
   }
}
